.page-load {
  height: 100vh;
  width: 100vw;
  position: relative;
  .curtain {
    position: absolute;
    background-color: var(--backgroundColor2);
    z-index: 2;
  }
  .left,
  .right {
    height: 100%;
    width: 50%;
    animation: shrink-width 0.6s 1.5s ease-out forwards;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .top,
  .bottom {
    height: 50%;
    width: 100%;
    animation: shrink-height 0.6s 1.5s ease-out forwards;
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;
  }

  .entry-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 80%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: flash 1.2s linear both;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 80%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@keyframes shrink-width {
  100% {
    width: 0%;
  }
}

@keyframes shrink-height {
  100% {
    height: 0%;
  }
}
