* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1a1c1e;
  overflow: hidden;
}

:root {
  --imgOverlay: #00000073;
  --textColor1: #fff;
  --textColor2: #b1b6cf;
  --primaryColor: #2d74fd;
}
