* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

:root {
  --imgOverlay: #00000073;
  --textColor1: #fff;
  --textColor2: #b1b6cf;
  --textColor3: #808080;
  --textColor4: #000000;
  --primaryColor1: #2d74fd;
  --darkShadow: 0px 7px 20px -9px rgba(0, 0, 0, 0.75);
  --backgroundColor1: #ffffff;
  --backgroundColor2: #1a1c1e;
  --backgroundColor3: #f2f2f2;
}
