.page-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textColor1);
    padding: 1rem;
    max-width: 1000px;
    padding: 5rem;
    h1 {
      font-size: 3.8rem;
      font-weight: bold;
      text-align: center;
      line-height: 3.5rem;
      margin: 0.8rem;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem;
      color: var(--textColor2);
    }

    .social-media {
      margin: 1rem;
    }
  }
}

.page-content {
  width: 100%;

  .sub-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
    h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    h4 {
      font-weight: 400;
      text-align: center;
      max-width: 800px;
    }
  }

  .initiatives {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
