.home-page-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textColor1);
    padding: 1rem;
    max-width: 1000px;

    h1,
    h2,
    h3 {
      animation: slide-from-bottom 0.6s ease-out both;
    }

    h1 {
      font-size: 3.8rem;
      font-weight: bold;
      text-align: center;
      line-height: 3.5rem;
      margin: 0.8rem;
      animation-delay: 0.1s;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem;
      color: var(--textColor2);
      animation-delay: 0.2s;
    }

    .social-media {
      margin: 1rem;
      display: flex;
    }
  }
}

.home-page-content {
  width: 100%;

  .sub-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;

    h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1rem;

      &.animate {
        animation: textAnimation 0.5s ease-in-out both;
      }
    }
    h4 {
      font-weight: 400;
      text-align: center;
      max-width: 800px;
    }
  }

  .initiatives {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-and-comm {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (min-width: 900px) {
      flex-direction: row;
      background-image: url("../../assets/comp-1.jpg");
    }

    .difference,
    .projects,
    .community {
      font-size: 2.5rem;
      padding: 2rem;
      .heading {
        color: var(--textColor3);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }

    .difference {
      flex: 1;
      @media screen and (min-width: 900px) {
        flex: 2;
      }
      .learn-more {
        margin-left: 0;
      }
    }
    .projects,
    .community {
      flex: 1;
    }
  }

  .community-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: var(--backgroundColor3);
    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    @media screen and (max-width: 500px) {
      padding: 4rem 0.5rem;
    }

    .section-name {
      h2 {
        font-size: 3rem;
        font-weight: 400;
        flex: 1;
      }
      padding: 2rem;

      .primary-button {
        margin-left: 0;
      }
    }

    .carousel-container {
      flex: 2;
      @media screen and (max-width: 1100px) {
        width: 100%;
      }
      .carousel {
        width: 100%;
        padding: 2rem;
      }
    }
  }

  .our-team {
    padding-top: 2rem;
    h2 {
      text-align: center;
      font-size: 4rem;
      font-weight: 400;
      margin: 2rem;
    }

    .team-members-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;

      @media screen and (min-width: 600px) {
        height: 3000px;
      }
      @media screen and (min-width: 820px) {
        height: 2300px;
      }
      @media screen and (min-width: 1200px) {
        height: 1900px;
      }
      @media screen and (min-width: 1400px) {
        height: 1600px;
      }
      @media screen and (min-width: 1500px) {
        height: 1300px;
      }
    }
  }

  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor3);
    padding: 2rem;
    > h2 {
      font-size: 3.5rem;
      font-weight: 300;
      text-align: center;
    }
    .video-cards-container {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .tezos-numbers {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    @media screen and (max-width: 900px) {
      padding: 4rem 1rem;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      text-align: center;
    }

    .counters-container {
      display: flex;
      width: 100%;
      justify-content: center;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }

      .projects,
      .hackathons,
      .blockchain {
        margin: 1rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          font-weight: 300;
          text-align: center;
        }

        .tezos-number-counter {
          font-size: 5rem;
          font-weight: 300;
        }
      }
    }
  }

  .hackathon-initiatives {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backgroundColor3);
    padding: 4rem;
    @media screen and (max-width: 500px) {
      padding: 2rem;
    }

    .hackathon,
    .hackathon-imgs {
      padding: 2rem;
      width: 500px;
      @media screen and (max-width: 500px) {
        padding: 2rem 0rem;
        width: 400px;
      }
    }

    .hackathon {
      h2 {
        font-size: 3rem;
        font-weight: 400;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 1rem;
        span {
          font-weight: bold;
        }
      }
    }

    .hackathon-imgs {
      display: flex;
      justify-content: center;
      align-items: center;

      .imgs-container {
        position: relative;
        width: 90%;

        .img1,
        .img2 {
          width: 100%;
        }

        .img2 {
          position: absolute;
          top: 20%;
          left: 10%;
        }
      }
    }
  }

  .success-stories {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
    }

    .brands {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 4rem 0;

      img {
        height: 100px;
        margin: 1rem;
      }
    }
  }

  .get-in-touch {
    background-image: url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    position: relative;

    .image-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--imgOverlay);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: var(--textColor1);
      padding: 2rem;
      h2 {
        font-size: 3rem;
        margin: 1rem;
      }

      h3 {
        text-align: center;
      }
    }
  }
}

//animations

@keyframes slide-from-bottom {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textAnimation {
  from {
    line-height: 0rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    line-height: 4rem;
  }
}
