.page-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textColor1);
    padding: 1rem;
    max-width: 1000px;
    padding: 5rem;
    h1 {
      font-size: 3.8rem;
      font-weight: bold;
      text-align: center;
      line-height: 3.5rem;
      margin: 0.8rem;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem;
      color: var(--textColor2);
    }

    .social-media {
      margin: 1rem;
    }
  }
}

.page-content {
  width: 100%;

  .sub-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
    h3 {
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    h4 {
      font-weight: 400;
      text-align: center;
      max-width: 800px;
    }
  }

  .initiatives {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-and-comm {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (min-width: 900px) {
      flex-direction: row;
      background-image: url("../../assets/comp-1.jpg");
    }

    .difference,
    .projects,
    .community {
      font-size: 2.5rem;
      padding: 2rem;
      .heading {
        color: var(--textColor3);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }

    .difference {
      flex: 1;
      @media screen and (min-width: 900px) {
        flex: 2;
      }
      .learn-more {
        margin-left: 0;
      }
    }
    .projects,
    .community {
      flex: 1;
    }
  }

  .tezos-numbers {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    @media screen and (max-width: 900px) {
      padding: 1rem;
      padding-top: 0;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      text-align: center;
    }

    .counters-container {
      display: flex;
      width: 100%;
      justify-content: center;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }

      .projects,
      .hackathons,
      .blockchain {
        margin: 1rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          font-size: 1rem;
          font-weight: 300;
          text-align: center;
        }

        .tezos-number-counter {
          font-size: 5rem;
          font-weight: 300;
        }
      }
    }
  }
}
