.initiatives-card {
  flex: 1;
  min-width: 350px;
  height: 500px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  opacity: 0;
  z-index: 0;
  @media screen and (max-width: 700px) {
    margin: 1rem;
  }
  &.animate {
    @media screen and (min-width: 700px) {
      animation: slide-from-bottom 1s ease-in-out forwards;
    }

    @media screen and (max-width: 700px) {
      animation: appear-from-left 0.5s ease-in-out forwards;
      &:nth-child(2n) {
        animation: appear-from-right 0.5s ease-in-out forwards;
      }
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease-in-out;
  }

  &:hover {
    transform: translateY(-10px);
    img {
      transform: translateX(-50%) scale(1.2);
      transition: all 5s linear;
    }

    .card-content {
      .description {
        height: 250px;
      }
    }

    .gradient {
      transform: translateY(-100%);
    }
  }

  //animations

  @keyframes appear-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes appear-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: var(--textColor1);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .icon,
    .title {
      font-size: 3rem;
    }

    .description {
      font-size: 1.5rem;
      overflow: hidden;
      height: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    z-index: 0;
    background-image: linear-gradient(
      to top,
      var(--primaryColor1) 0%,
      rgba(18, 18, 18, 0) 100%
    );
    transition: all 0.3s ease-in-out;
  }
}

.team-card {
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  background-color: #2e2d38c7;
  color: var(--textColor1);
  padding: 1rem;
  border-radius: 1em;
  border: 1px solid var(--primaryColor1);
  &.animate {
    animation: pop 1s ease-in-out both;
  }

  &.light {
    background-color: var(--backgroundColor1);
    color: var(--textColor4);
  }

  img {
    width: 100%;
    border-radius: 1em;
  }

  .designation {
    font-weight: bold;
    margin: 0.5rem 0rem;
  }

  .name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .icon-container {
    padding: 1rem 0rem;
    width: 0%;
    font-size: 1.5rem;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  &:hover {
    .icon-container {
      width: 1.5rem;
    }
  }
}

//animation

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.video-card {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  .preview-container {
    height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--darkShadow);
    @media screen and (max-width: 500px) {
      height: 150px;
    }

    img {
      height: 100%;
      transition: all 0.2s linear;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.2);
    }
    .play-button {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        font-size: 6rem;
        color: var(--primaryColor1);
      }
    }

    &:hover {
      img {
        transition: all 2s linear;
        transform: translate(-50%, -50%) scale(1.5);
      }
    }
  }

  h2 {
    padding: 1rem 0rem;
  }
}

.testimonial-card {
  width: 400px;
  border: 1px solid var(--primaryColor1);
  border-radius: 1rem;
  background-color: #2e2d38c7;
  padding: 2rem;
  height: 100%;

  .img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1rem 0;
    background-size: cover;
  }

  &.animate {
    animation: slide-from-bottom 1s ease-in-out both;
  }

  @media screen and(max-width: 500px) {
    width: 300px;
  }

  p {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--textColor1);
  }

  .name {
    font-size: 1 rem;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--textColor1);
  }

  .program {
    color: var(--textColor1);
  }
}
