header {
  background-color: var(--backgroundColor1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &.hide {
    opacity: 0;
  }
  &.transparent {
    background-color: transparent;
  }
}
