.parallax-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  perspective: 10px;
  transform: translateZ(10px);

  .page-description {
    height: 100vh;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;

    .parallax-img,
    .img-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      transform: translateY(-4rem) translateZ(-2px) scale(1.3);
      object-fit: cover;
    }

    .img-overlay {
      background-color: var(--imgOverlay);
    }
  }

  .page-content {
    background-color: var(--backgroundColor1);
  }
}
