@keyframes expand-background {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes appear-from-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes expand-line {
  from {
    width: 0;
  }
  to {
    width: 4rem;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
