.social-link,
.social-link:visited {
  color: var(--textColor2);
  text-decoration: none;
  margin: 1rem;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    transform: rotateY(180deg);
    font-size: 2rem;
    opacity: 0;
    position: absolute;
  }

  i,
  span {
    transition: all 0.3s linear;
  }

  &:hover {
    color: var(--textColor1);
    i {
      transform: rotateY(0deg);
      opacity: 1;
    }

    span {
      opacity: 0;
    }
  }
}
